.App{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 10px solid black;
}


.MessageMeta{
    display: flex;
    justify-content: space-between;
}
.ChatBody{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
}

.Message{
 padding: 0;
 margin: 0;
 line-height: 0;
margin: 0.2rem;
}

.Author{
    font-style: italic;
    font-weight: bold;
}

.SentMessage{
    background-color: lightblue;
    align-self: flex-start;
}

.ReceivedMessage{
    background-color: lightgreen;
    align-self: flex-end;   
}

